<h1>Demo#index</h1>
<p>This text is from Index Template</p>


<a href="/demo/hello">Hello Page 1</a><br/>
<%= link_to('Hello Page 2',{:controller => 'demo',:action => 'hello'}) %>



<%= link_to('Index page with params',{:action => 'hello',
	:page => 24,:name => 'krishna',:id => 9}) %><br/> 

